.App {
  text-align: center;
}

.container-fluid{
  background-color: #211a21;
  min-height: 100vh;
}

.row{
  max-height: 88vh;
}

.col-2{
  max-height: 88vh;
  overflow: scroll;
}

.name-scroll{
  max-height: 28vh;
  overflow: scroll;
}

/* *{
  border: 1px solid red;
} */