/* *{
  border: 1px solid red;
} */

.flexBox{
  display: flex;
  flex-direction: column;
}

.size{
  font-size: 3.5rem;
}

.App {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.container-fluid{
  background-color: #211a21;
  min-height: 100vh;
}

.row{
  max-height: 80vh;
}

.fa-trash-alt{
  font-size: .7rem;
}

.btn.fab{
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.name-scroll{
  max-height: 46vh;
  overflow: scroll;
  cursor: pointer;
  border: 2px solid #4f43ae;
}

.card-scroll{
  max-height: 70vh;
  overflow: scroll;
  cursor: pointer;
}

i{
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@media only screen and (max-width: 767px){
  .size{
  font-size: 1.25rem;
}

.App {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.container-fluid{
  background-color: #211a21;
  min-height: 136vh;
}

.row{
  max-height: 15vh;
}

.fa-trash-alt{
  font-size: .7rem;
}

.btn.fab{
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.name-scroll{
  max-height: 20vh;
  overflow: scroll;
  cursor: pointer;
  border: 2px solid #4f43ae;
}

.card-scroll{
  max-height: 44vh;
  overflow: scroll;
  cursor: pointer;
}

i{
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
}