@media only screen and (min-width: 768px) {
  .character-container {
    background-color: #131111;
    min-height: 150vh;
  }

  .small-img {
    display: none;
  }

  .large-img {
    height: 350px;
    width: auto;
  }

  .chart-margin {
    margin-left: 74vh;
  }

  .pointer {
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {
  .character-container {
    background-color: #131111;
    min-height: 150vh;
  }

  .fas {
    display: none;
  }

  .small-img {
    height: 99px;
    width: 99px;
  }

  .large-img {
    display: none;
  }
}
