@media only screen and (min-width: 768px){
.character-container{
  background-color: #211a21;
  min-height: 150vh;
}

.small-img{
  display: none;
}

.large-img{
  height: 400px;
  width: auto;
}

.pointer {
  cursor: pointer;
}
}

@media only screen and (max-width: 767px){
.fas {
  display: none;
}

.small-img{
  height: 99px;
  width: 99px;
}

.large-img{
  display: none;
}
}