.border-green-name{
  border: 3px solid #1edc00;
}

.border-danger-name{
  border: 3px solid #e60012;
}

@media only screen and (max-width: 767px){
  .border-green{
  border: 1px solid #1edc00;
}

.border-danger{
  border: 1px solid #e60012;
}
}

