img{
  height: 100px;
  width: 100px;
}

.cards{
  cursor: pointer;
  background-color: #cec9cc;
  border: 2px solid #de4337;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  height: auto;
  margin-top: 5px;
}

.cards:active {
  transform: translateY(4px);
  background-color: #908a99
}

.overflow{
  overflow: scroll;
}

/* *{
  border: 1px solid red
} */