.vs{
  font-size: 4rem;
}

.overflow{
  overflow: scroll;
}

.stat-size{
  font-size: .7rem;
  font-weight: bold;
}

.stat-scroll{
  max-height: 60vh;
  overflow: scroll;
}

.text-green{
  color: #28a745;
}

.border-green{
  border: 2px solid #28a745;
}

.border-danger{
  border: 2px solid #de4337;
}

.clear-border{
  border: 2px solid transparent;
}