.vs{
  font-size: 4rem;
}

.overflow{
  overflow: scroll;
}

.stat-size{
  font-size: .6rem;
  font-weight: bold;
}

.smaller-text{
  font-size: .55rem;
}

.stat-scroll{
  max-height: 54vh;
  overflow: scroll;
}

.text-green{
  color: #28a745;
}

.text-yellow{
  color: #ffc107;
}

.border:active{
  transform: translateY(2px);
  background-color: #211a21
}

.border-green{
  border: 2px solid #28a745;
}

.border-yellow{
  border: 2px solid #ffc107;
}

.border-danger{
  border: 2px solid #de4337;
}

.clear-border{
  border: 2px solid transparent;
}

@media only screen and (max-width: 767px){
  .vs{
  font-size: 2rem;
}

.overflow{
  overflow: scroll;
}

h6{
  font-size: .7rem;
}

.bg-transparent{
  background-color: transparent;
}

.stat-size{
  font-size: 7px;
}

.stat-scroll{
  max-height: 19vh;
  overflow: scroll;
}

.text-green{
  color: #28a745;
}

.text-yellow{
  color: #ffc107;
}

.border:active{
  transform: translateY(2px);
  background-color: #211a21
}

.border-green{
  border: 1px solid #28a745;
}

.border-yellow{
  border: 1px solid #ffc107;
}

.border-danger{
  border: 1px solid #de4337;
}

.clear-border{
  border: 1px solid transparent;
  font-size: 7px;
}

}